@import url("./reset.css");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

body {
    font-family: monospace;
    background-color:  #692c83;
    color: white;
    font-size: 60px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

